In [6]:
import pandas as pd
import pandas_profiling
import os
import pickle
import gc
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix
import lightgbm as lgb

#データ読み込み
with open('ensamble/rf_test.pickle', mode='br') as fi:
    p1 = pickle.load(fi)
    
with open('ensamble/lgb_test.pickle', mode='br') as fi:
    p2 = pickle.load(fi)

In [7]:
p1

      index   pred
0       398  0.282
1      3833  0.082
2      4836  0.040
3      4572  0.368
4       636  0.236
...     ...    ...
1995   3138  0.192
1996    191  0.124
1997   3294  0.606
1998   3073  0.266
1999    361  0.298

[2000 rows x 2 columns]

In [8]:
p2

      index      pred
0       398  0.217108
1      3833  0.074849
2      4836  0.079949
3      4572  0.373731
4       636  0.137988
...     ...       ...
1995   3138  0.123821
1996    191  0.186012
1997   3294  0.567065
1998   3073  0.190744
1999    361  0.408368

[2000 rows x 2 columns]

In [ ]:
def evaluate_ensamble(input_df, col_pred):
    print('[auc] model1:{:.4f}, model2:{:.4f}, model3:{:.4f} -> ensamble:{:.4f}'.format(
        roc_auc_score(input_df