In [31]:
import pandas as pd
import pandas_profiling
import os
import pickle
import gc
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix
import lightgbm as lgb

#データ読み込み
with open('nn_proba.pickle', mode='br') as fi:
    p1 = pickle.load(fi)
    
with open('LGBM_proba.pickle', mode='br') as fi:
    p2 = pickle.load(fi)

In [35]:
p1

array([0.2656804 , 0.1783321 , 0.16428877, ..., 0.5772522 , 0.18998696,
       0.4275994 ], dtype=float32)

In [36]:
p2[:,1]

array([0.18697312, 0.0512449 , 0.0891755 , ..., 0.60255712, 0.10930006,
       0.4734564 ])

In [24]:
df = pd.concat([LGBD,NN['0']] ,axis=1)
df.columns = ["Outcome","pred1","pred2"]

In [26]:
df['pred_ensamble'] = (df['pred1'] + df['pred2'] /2)
df

      Outcome  pred1  pred2  pred_ensamble
0        3833      0      0            0.0
1        4836      0      0            0.0
2        4572      0      0            0.0
3         636      0      0            0.0
4        2545      0      0            0.0
...       ...    ...    ...            ...
1994     3138      0      0            0.0
1995      191      0      0            0.0
1996     3294      1      1            1.5
1997     3073      0      0            0.0
1998      361      0      0            0.0

[1999 rows x 4 columns]

In [ ]:
def evaluate_ensamble(input_df, col_pred):
    print('[auc] model1:{:.4f}, model2:{:.4f}, model3:{:.4f} -> ensamble:{:.4f}'.format(
        roc_auc_score(input_df